page-category,
page-search {

  .category-title {
    margin: 16px 0 0;
    padding: 0 20px;
    font: 24px/32px 'AgendaBgCondensed', 'Arial Narrow', Arial, sans-serif;
    color: #000;
  }

  .thumbnail-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }

  .item-ios .thumbnail-image {
    width: $item-ios-thumbnail-size;
    height: $item-ios-thumbnail-size;
  }

  .item-md .thumbnail-image {
    width: $item-md-thumbnail-size;
    height: $item-md-thumbnail-size;
  }

  .item-wp .thumbnail-image {
    width: $item-wp-thumbnail-size;
    height: $item-wp-thumbnail-size;
  }

  ion-label {
    white-space: normal;
  }
}
