@media (max-height: 768px) and (max-width: 768px) {
  .modal-wrapper {
    position: absolute;
    width: auto;
    height: auto;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.5);
  }
}

page-home {

  .content {
    background-color: color($colors, background);
  }

  .category-title {
    margin: 16px 0 0;
    padding: 0 20px;
    color: #fff;
  }

  button[float-right] {
    margin-right: 10px;
    font-family: Agenda, Arial sans-serif;
    color: #ffe55b;
  }

  ion-scroll {
    height: 268px;

    .scroll-zoom-wrapper {
      white-space: nowrap;
      padding: 0 10px;
    }

    ion-card {
      position: relative;
      display: inline-block;
      width: 240px !important;
      height: 182px;
      overflow: visible;
      &:last-child {
        margin-right: 20px;
      }
    }

    .card-image {
      width: 240px;
      height: 182px;
      background-color: #ebebeb;
      background-size: cover;
      background-position: 50% 25%;
    }

    .card-title {
      position: absolute;
      top: 100%;
      padding: 5px;
      width: 100%;
      font: 1.6rem/1.8rem 'Agenda', 'Arial', sans-serif;
      white-space: normal;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }

  ion-slides {
    max-width: 540px;
    margin: 0 auto;

    .swiper-pagination-bullet {
      width: 4px;
      height: 4px;
      background: rgba(255, 255, 255, 0.5);
    }

    .swiper-pagination-bullet-active {
      background: rgba(255, 255, 255, 0.5);
    }
  }

  .load-error {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 24px;
    max-width: 500px;
    min-height: calc(100vh - 130px);
    font: 2rem/2.4rem 'Agenda', 'Arial', sans-serif;
		color: #fff;
		text-shadow: 2px 2px 4px #b07f00;
		text-align: center;
  }

  .copyrights {
    margin-bottom: 24px !important;
  }
  
  .copyrights p {
    color: #fff;
  }
}
