ion-modal {
	width: auto;
	height: auto;
  top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.5);
}

page-home {

  .content {
    background-color: color($colors, background);
  }

  .category-title {
    margin: 16px 0 0;
    padding: 0 20px;
    color: #fff;
  }

  button[float-right] {
    margin-right: 10px;
    font-family: Agenda, Arial sans-serif;
    color: #ffe55b;
  }

  ion-scroll {
    height: 268px;

    .scroll-zoom-wrapper {
      white-space: nowrap;
      padding: 0 10px;
    }

    ion-card {
      position: relative;
      display: inline-block;
      width: 240px !important;
      height: 182px;
      overflow: visible;
      &:last-child {
        margin-right: 20px;
      }
    }

    .card-image {
      width: 240px;
      height: 182px;
      background-color: #ebebeb;
      background-size: cover;
      background-position: 50% 25%;
    }

    .card-title {
      position: absolute;
      top: 100%;
      padding: 5px;
      width: 100%;
      font: 1.6rem/1.8rem 'Agenda', 'Arial', sans-serif;
      white-space: normal;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }
}
