<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="toolbar--title"></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="updatePostsList($event)">
    <ion-refresher-content
      pullingText="Дръпни за да обновиш"
      refreshingText="Обновяване..."
    >
    </ion-refresher-content>
  </ion-refresher>

      <div *ngFor="let category of categories">

        <section *ngIf="category.slug != 'uncategorized' && posts[category.id] && posts[category.id].length > 0">
          <h2 class="category-title">[ {{ category.name | uppercase }} ]</h2>

          <ion-scroll scrollX="true">
            <ion-card *ngFor="let post of posts[category.id]" [navPush]="postPage" [navParams]="post">
              <div class="card-image" [ngStyle]="{ 'background-image': 'url(' + post._embedded['wp:featuredmedia'][0].source_url + ')' }"></div>
              <div class="card-title" [innerHTML]="post.title.rendered"></div>
            </ion-card>
          </ion-scroll>

        </section>

      </div>

</ion-content>
