<ion-header>
	<ion-navbar>
		<ion-title>
			<div class="toolbar--title"></div>
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="presentPopover($event)">
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div class="content-width" [ngStyle]="{'font-size': (1.4 + (textSize * 0.1)) + 'rem'}" *ngIf="post && post.type">
		<img *ngIf="post._embedded['wp:featuredmedia']" src="{{ post._embedded['wp:featuredmedia'][0].source_url }}" />
		<h1 [innerHtml]="postTitle"></h1>
		<div [innerHtml]="postContent"></div>
	</div>

	<div class="load-error" *ngIf="loadError">
		Не можем да заредим статията в&nbsp;момента. Когато се&nbsp;появи интернет, върнете се&nbsp;назад и&nbsp;презаредете.
	</div>

	<div class="copyrights" *ngIf="post && post.id != 177">
		<p>&copy; 2006—{{ now.getFullYear() }} Екомедия ООД.</p>
		<button ion-button block small outline color="#fff" icon-left [navPush]="postPage" [navParams]="{ id: 177 }">
			<ion-icon name="kenguru-iconk"></ion-icon>
			&nbsp;
			За списанието и рекламите
		</button>
	</div>
</ion-content>
