ion-popover {
  .small-text {
    font-size: 1.2rem;
  }
  .large-text {
    font-size: 2.2rem;
  }
  
  .popover-content {
    width: 260px !important;
  }
}


page-post {
  h1 {
    margin: 1em 0 0.2em;
    font: 900 1.6em/1.4em 'Agenda', 'Arial', sans-serif;
  }
  h2, h3 {
    margin: 1em 0 0.6em;
    font: bold 1.3em/1.4em 'Agenda', 'Arial', sans-serif;
  }
  p, li {
    font: 1em/1.3em 'Agenda', 'Arial', sans-serif;
  }
  p {
    margin: 1.2em 0;
  }
  img {
    margin-left: -$content-padding;
    margin-right: -$content-padding;
    width: calc(100% + 2 * #{$content-padding});
    max-width: calc(100% + 2 * #{$content-padding});
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  .content-width > img {
    margin-top: -$content-padding;
  }
  li {
    margin: 0.8em 0;
  }
  p + ul,
  p + ol {
    margin-top: -0.6em;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      text-indent: -1.2em;
      padding-left: 1.2em;
      &:before {
        content: '— ';
      }
    }
  }
  ol {
    margin: 0;
    padding: 0;
    li {
      margin-left: 1.2em;
    }
  }
}
