page-post {

  .content-width {
    margin: 0 auto;
    max-width: #{600px - 2 * $content-padding};
  }

  h1 {
    margin: 0.6rem 0;
    font: 3rem/3.4rem 'Agenda-Black', 'Arial Black', sans-serif;
  }
  p, li {
    font: 2.2rem/2.6rem 'Agenda', 'Arial', sans-serif;
  }
  p {
    margin: 1.4rem 0;
  }
  img {
    margin-left: -$content-padding;
    margin-right: -$content-padding;
    width: calc(100% + 2 * #{$content-padding});
    max-width: calc(100% + 2 * #{$content-padding});
    height: auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }
  .content-width > img {
    margin-top: -$content-padding;
  }
  li {
    margin: 0.4rem 0;
  }
  p + ul {
    margin-top: -1rem;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      text-indent: -2.5rem;
      padding-left: 2.5rem;
      &:before {
        content: '— ';
      }
    }
  }
}
