// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-title {
	overflow: visible;
}
.toolbar--title {
	display: inline-block;
	margin: 0 -16px;
	width: 180px;
	height: 28px;
	background: url('../assets/title-ny.svg') no-repeat left center;
	background-size: contain;
}

.bar-buttons-md,
.bar-buttons-wp {
	order: 1
}


ion-menu .item-md ion-icon[item-left] + .item-inner,
ion-menu .item-md ion-icon[item-start] + .item-inner, {
	margin-left: 0;
}

ion-menu .item > ion-icon[small]:first-child,
ion-menu .item-inner > ion-icon[small]:first-child {
	min-width: 42px;
	margin: -16px 0px -16px -16px;
	padding: 14px 10px 14px 18px;
}
/*
ion-menu .scroll-content {
  display: flex;
	align-items: stretch;
  flex-direction: column;
}

.menu-stretcher {
  flex: 1;
}
*/

ion-menu .list-md,
ion-menu .list-wp,
ion-menu .list-ios {
  /* width: 100%; */
  margin-bottom: 0;

	.item-block {
		&.catitem .item-inner {
			padding-left: 16px;
		}
		&.subcatitem .item-inner {
			margin-left: 56px;
		}
	}
}


/* Common layout */

.content-width {
  margin: 0 auto;
  max-width: #{600px - 2 * $content-padding};
}


/* Fonts */

@font-face {
  font-family: 'Agenda';
  src: url('../assets/fonts/agendabg-black.woff') format('woff'),
       url('../assets/fonts/agendabg-black.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AgendaBgCondensed';
  src: url('../assets/fonts/agendabg-condensed.woff') format('woff'),
       url('../assets/fonts/agendabg-condensed.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agenda';
  src: url('../assets/fonts/agendabg-bold.woff') format('woff'),
       url('../assets/fonts/agendabg-bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Agenda';
  src: url('../assets/fonts/agendabg-italic.woff') format('woff'),
       url('../assets/fonts/agendabg-italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Agenda';
  src: url('../assets/fonts/agendabg-regular.woff') format('woff'),
       url('../assets/fonts/agendabg-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Kenguru icons */
ion-icon {
  &[class*="kenguru-"] {
      // Instead of using the font-based icons
      // We're applying SVG masks
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
  }
  // custom icons
  &[class*="kenguru-icon"] {
    mask-image: url(../assets/icon-frame.svg);
  }
  &[class*="kenguru-iconk"] {
    mask-image: url(../assets/icon-k.svg);
  }
}


/* Common styles */

.category-title {
  margin: 16px 0;
  padding: 0 16px;
  font: 24px/32px 'AgendaBgCondensed', 'Arial Narrow', Arial, sans-serif;
  color: #000;
  text-transform: uppercase;
  &::before {
    content: '[ ';
  }
  &::after {
    content: ' ]';
  }
}

.explanation {
	font: 1.6rem/1.8rem 'Agenda', 'Arial', sans-serif;
}

.copyrights {
  margin: 0 auto !important;
  max-width: 260px;
}

.copyrights p {
  margin: 3em 0 0.5em;
  font: 1em/1.3em 'Agenda', 'Arial', sans-serif;
  text-align: center;
}
