<ion-split-pane when="(min-width: 800px)">

	<ion-menu [content]="nav">
		<ion-header>
			<ion-toolbar>
				<ion-title>Меню</ion-title>
			</ion-toolbar>
		</ion-header>
		<ion-content>
			<ion-list>
				<button ion-item (click)="setRoot($event, rootPage)">Корица</button>
				<ng-container *ngFor="let category of categories[0]">
					<button ion-item (tap)="setRoot($event, categoryPage, category)">
						<ion-icon name="{{ !categories[category.id]? '' : category.expanded? 'arrow-dropup' : 'arrow-dropdown' }}" item-start small></ion-icon>
						{{ category.name }}
						<ion-note item-end>{{ category.count }}</ion-note>
					</button>
					<ng-container *ngIf="categories[category.id] && category.expanded">
						<ng-container *ngFor="let subcategory of categories[category.id]">
								<button *ngIf="subcategory.count" ion-item class="subcatitem" (click)="setRoot($event, categoryPage, subcategory)">
										{{ subcategory.name }}
										<ion-note item-end>{{ subcategory.count }}</ion-note>
									</button>
						</ng-container>
					</ng-container>
				</ng-container>
			<!--
			</ion-list>
			<div class="menu-stretcher"></div>
			<ion-list>
			-->
				<button ion-item (click)="setRoot($event, settingsPage)">Профил</button>
			</ion-list>
		</ion-content>
	</ion-menu>

	<ion-nav [root]="rootPage" main #nav></ion-nav>

</ion-split-pane>