page-tour {

  .scroll-content {
    display: flex;
    flex-direction: column;
    padding: 10px 30px !important;
  }

  h2 {
    margin: 0 0 0.6em;
    font: bold 3.1rem/4rem 'Agenda', 'Arial', sans-serif;
  }
  p, li {
    font: 1.8rem/2.2rem 'Agenda', 'Arial', sans-serif;
  }
  p {
    margin: 1em 0;
  }
  p.button--container {
    text-align: center;
  }
  
}
